<!DOCTYPE HTML>
<html>
<head>
<title>找不到页面</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

<link href="css/style.css" rel='stylesheet' type='text/css' />

<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="css/etalage.css">
</head>
<body>

<div class="men">
	<div class="container">
	    <div class="error-404 text-center">
			<h1>404</h1>
			<p>找不到页面，这是一个死链</p>
			<a class="b-home" href="index.html">返回主页</a>
		 </div>
      </div>
</div>


</body>
</html>		