<!DOCTYPE HTML>
<html>
<head>
<title>商品详情页</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

<link href="css/style.css" rel='stylesheet' type='text/css' />

<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="css/etalage.css">
<script src="js/jquery.etalage.min.js"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
		</script>
</head>
<body>
<div class="men">
	<div class="container">
	  <div class="single_top">
	       <div class="col-md-9 single_right">
	   	       <div class="grid images_3_of_2">
						<ul id="etalage">
							<li>
								<a href="optionallink.html">
									<img class="etalage_thumb_image" src="images/s1.jpg" class="img-responsive" />
									<img class="etalage_source_image" src="images/s1.jpg" class="img-responsive" title="" />
								</a>
							</li>
							<li>
								<img class="etalage_thumb_image" src="images/s2.jpg" class="img-responsive" />
								<img class="etalage_source_image" src="images/s2.jpg" class="img-responsive" title="" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="images/s3.jpg" class="img-responsive"  />
								<img class="etalage_source_image" src="images/s3.jpg"class="img-responsive"  />
							</li>
						    <li>
								<img class="etalage_thumb_image" src="images/s4.jpg" class="img-responsive"  />
								<img class="etalage_source_image" src="images/s4.jpg"class="img-responsive"  />
							</li>
						</ul>
						 <div class="clearfix"></div>		
				  </div> 
				  <div class="desc1 span_3_of_2">
				    <h1>商品名</h1>
				    <span>888元</span><p class="m_5"><span class="reducedfrom">999元</span></p>
				    <div class="btn_form">
						<form>
							<input type="submit" value="点击购买" title="">
						</form>
					 </div>
					 <span class="m_link"><a href="#">添加到 购物车</a> </span>
					 <p class="m_text2">商家特殊留言</p>
				  </div>
				  <div class="clearfix"></div>	
       </div>
       <div class="col-md-3">
      	<!-- FlexSlider -->
              <section class="slider_flex">
				  <div class="flexslider">
					<ul class="slides">
						<li><img src="images/pic4.jpg" class="img-responsive" alt=""/></li>
						<li><img src="images/pic7.jpg" class="img-responsive" alt=""/></li>
						<li><img src="images/pic6.jpg" class="img-responsive" alt=""/></li>
						<li><img src="images/pic5.jpg" class="img-responsive" alt=""/></li>
				    </ul>
				  </div>
	          </section>
<!-- FlexSlider -->
      </div>
      <div class="clearfix"> </div>
     </div>
       <div class="toogle">
     	<h2>产品详情</h2>
     	<p class="m_text2">这里是产品详情</p>
     </div>
     <div class="toogle">
     	<h2>更多信息</h2>
     	<p class="m_text2">这里是更多信息</p>
     </div>
     <h4 class="head_single">相关产品</h4>
     <div class="span_3">
	          	 <div class="col-sm-3 grid_1">
	          	    <a href="single.html">
				     <img src="images/pic9.jpg" class="img-responsive" alt=""/>
				     <h3>商品名</h3>
				   	 <p>商品详情</p>
				   	 <h4>399元</h4>
			         </a>  
				  </div> 
				<div class="col-sm-3 grid_1">
	          	    <a href="single.html">
				     <img src="images/pic8.jpg" class="img-responsive" alt=""/>
				     <h3>商品名</h3>
				   	 <p>商品详情</p>
				   	 <h4>399元</h4>
			         </a>  
				  </div> 
				 <div class="col-sm-3 grid_1">
	          	    <a href="single.html">
				     <img src="images/pic1.jpg" class="img-responsive" alt=""/>
				     <h3>商品名</h3>
				   	 <p>商品详情</p>
				   	 <h4>399元</h4>
			         </a>  
				  </div> 
				  <div class="col-sm-3 grid_1">
	          	    <a href="single.html">
				     <img src="images/pic3.jpg" class="img-responsive" alt=""/>
				     <h3>商品名</h3>
				   	 <p>商品详情</p>
				   	 <h4>399元</h4>
			         </a>  
				  </div> 
				  <div class="clearfix"></div>
	     </div>
      </div>
</div>

<link href="css/flexslider.css" rel='stylesheet' type='text/css' />
							  <script defer src="js/jquery.flexslider.js"></script>
							  <script type="text/javascript">
								$(function(){
								  SyntaxHighlighter.all();
								});
								$(window).load(function(){
								  $('.flexslider').flexslider({
									animation: "slide",
									start: function(slider){
									  $('body').removeClass('loading');
									}
								  });
								});
							  </script>

</body>
</html>		