<!DOCTYPE HTML>
<html>
    <head>
        <title>商品列表页</title>
    <include file="./Application/Home/Public/html/head.html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="<?php echo HOME_PUBLIC; ?>css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="<?php echo HOME_PUBLIC; ?>css/style.css" rel='stylesheet' type='text/css' />
    <script>
        var now_page = 1;
        function inner_data(data) {
        //console.log(data);
        eval("var json_array=" + data);
        //console.log(json_array);
        now_page = json_array.now_page;
        var s = '';
        for (var i = 0; i < json_array.result.length; i++) {
        if ((i) % 3 == 0) {
        s += '<div class="span_2">';
        }
        s += '<div class="col_1_of_single1 span_1_of_single1"> ' +
                ' <a href="#"> <img src="' + json_array.result[i].img1 + '" class="img-responsive" style="height:200px;" alt=""/>' +
                ' <h3>' + json_array.result[i].name + '</h3><p>' + json_array.result[i].details + '</p><h4>' + (json_array.result[i].discount_status == 1 ? json_array.result[i].discount_price : json_array.result[i].price) + '元</h4>' +
                ' </a> ' +
                '</div>';
        if ((i + 1) % 3 == 0) {
        s += '<div class="clearfix"></div>' +
                '</div>';
        }
        }
        document.getElementById('list').innerHTML = s;
        s = "";
        for (var j = 0; j < json_array.brand.length; j++) {
        s += '<li> <a href="javascirpt:void(0)" onclick="' + "to_filter('brand','" + json_array.brand[j].brand + "'" + ')">' + json_array.brand[j].brand + '</a> (' + json_array.brand[j].count + ') </li>';
        }
        s += "<li> <a href='javascirpt:void(0)' style='color:red;' onclick='to_page(1)'>重置 </a> </li>";
        document.getElementById('brand').innerHTML = s;
        s = "";
        for (var j = 0; j < json_array.color.length; j++) {
        s += '<li> <a href="javascirpt:void(0)" onclick="' + "to_filter('color','" + json_array.color[j].color + "'" + ')">' + json_array.color[j].color + '</a> (' + json_array.color[j].count + ') </li>';
        }
        s += "<li> <a href='javascirpt:void(0)' style='color:red;' onclick='to_page(1)'>重置</a>  </li>";
        document.getElementById('color').innerHTML = s;
        var start = json_array.now_page - 3 > 0 ? json_array.now_page - 3 : 1;
        var end = start + 6 < json_array.total_page ? start + 6 : json_array.total_page;
        s = '';
        for (var i = start; i <= end; i++) {
        if (i != json_array.now_page) {
        s += '<li><a href="javascript:void(0)" onclick="to_page(' + i + ')">' + i + '</a></li>';
        } else {
        s += '<li>' + i + '</li>';
        }
        }
        document.getElementById('page').innerHTML = s;
        }
        function to_page(num) {
        do_ajax('get', "__MODULE__/Search/index?keyword={$return['keyword']}&page=" + num, null, inner_data);
        }
        function orderby() {
        do_ajax('get', "__MODULE__/Search/index?keyword={$return['keyword']}&page=1&orderby=" + document.getElementById('orderby').value, null, inner_data)
        }
        function to_filter(filter_class, filter){
        do_ajax('get', "__MODULE__/Search/index?keyword={$return['keyword']}&filter_class=" + filter_class + "&filter=" + filter, null, inner_data)
        }

    </script>

</head>
<body>
    <div id="content">
        <div class="men">
            <div class="container">
                <div class="col-md-3 sidebar">
                    <div class="block block-layered-nav">
                        <div class="block-title"> <strong><span>状态</span></strong> </div>
                        <div class="block-content">
                            <dl id="narrow-by-list">
                                <dt class="even">品牌</dt>
                                <dd class="even">
                                    <ol id="brand">
                                        <!--                                        <li> <a href="#">品牌1</a> (2) </li>
                                                                                <li> <a href="#">品牌2</a> (1) </li>-->
                                        <for start='0' end="count($return['brand'])">
                                            <li> <a href="javascirpt:void(0)" onclick="to_filter('brand', '{$return['brand'][$i]['brand']}')">{$return['brand'][$i]['brand']}</a> ({$return['brand'][$i]['count']}) </li>
                                        </for>
                                        <li><a href="javascript:void(0)" style="color:red;" onclick="to_page(1)">重置</a></li>
                                    </ol>
                                </dd>
                                <dt class="last odd">颜色</dt>
                                <dd class="last odd">
                                    <ol id="color">
                                        <for start='0' end="count($return['color'])">
                                            <li> <a href="javascirpt:void(0)" onclick="to_filter('color', '{$return['color'][$i]['color']}')">{$return['color'][$i]['color']}</a> ({$return['color'][$i]['count']}) </li>
                                        </for>
                                        <li><a href="javascript:void(0)" style="color:red;" onclick="to_page(1)">重置</a></li>
                                    </ol>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="mens-toolbar">
                        <div class="sort">
                            <div class="sort-by">
                                <label>排序</label>
                                <select id='orderby' onchange="orderby()">
                                    <option value="sale_num" id='sale_num'> 热度 </option>
                                    <option value="price_desc" id='price_desc'> 价格 : 从高到低 </option>
                                    <option value="price_asc" id='price_asc'> 价格 : 从低到高 </option>
                                </select >
                            </div>
                        </div>
                        <div class="pager">
                            <ul class="dc_pagination dc_paginationA dc_paginationA06" style="float:right;">
                                <li style="color: #ff0;;">页码</li>
                                <div id='page' style="float:right;">
                                    <if condition="($return['now_page']-3 gt 0)">
                                        <assign name="start" value="$return['now_page']-3" />
                                        <else/>
                                        <assign name="start" value="1" />
                                    </if>
                                    <if condition="($start+6 lt $return['total_page'] )">
                                        <assign name="end" value="$start+6" />
                                        <else/>
                                        <assign name="end" value="$return['total_page']" />
                                    </if>
                                    <for start="$start" end="$end+1">
                                        <if condition="$return['now_page'] eq $i">
                                            <li>{$i}</li>
                                            <else/>
                                            <li><a href="javascript:void(0)" onclick="to_page({$i})">{$i}</a></li>
                                        </if>

                                    </for>
                                </div>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="list">
                        <volist name="return['result']" id="vo">
                            <if condition="($i-1)%3 eq 0"> 
                                <div class="span_2">
                            </if>

                            <div class="col_1_of_single1 span_1_of_single1"> 
                                <a href="__MODULE__/Goods/index?goods_id={$vo.goods_id}"> <img src="{$vo.img1}" class="img-responsive" style="height:200px;" alt=""/>
                                    <h3>{$vo.name}</h3><p>{$vo.details}</p>
                                    <h4>
                                        <if condition="$vo.discount_status eq 1"> 
                                            {$vo.discount_price}
                                            <else />{$vo.price}
                                        </if>
                                        元</h4>
                                </a> 
                            </div>

                            <if condition="($i)%3 eq 0"> 
                                <div class="clearfix"></div>
                                </div>
                            </if>
                        </volist>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="./Application/Home/Public/html/footer.html"/>
</body>
</html>
